/* General Button Styles */
button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Hover Effect */
button:hover:not(:disabled) {
    background-color: #0056b3; /* Darker blue on hover */

}

/* Disabled State */
button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Pagination Button Styles */
#pagination-top button,
#pagination-bottom button {
    margin: 0 30px; /* Add spacing between buttons */
}

/* Pagination Containers */
#pagination-top,
#pagination-bottom {
    margin: 50px 0;
    text-align: center;
    margin-top: 200px; /* Increase this value to move the buttons lower */
}

/* Home Button */
#home-button {
    
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: -20px;
    bottom: 0%;
   
}

#home-button img {
    
    width: 50px;
    height: 50px;
}

#home-button:hover img {
    filter: brightness(5.2); /* Brighten the icon on hover */
    
}

/* For very small screens, further adjust text size */
@media (max-width: 480px) {
    #letter-nav {
        
        font-size: 12px; /* Even smaller font size */
    }
    
    
}

/* Prevent text overflow in the navbar */
#letter-nav {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: scroll; /* Hide overflow text */
    text-overflow: clip; /* Show '...' when text overflows */
    margin-left: 70px;
}

/* Ensure responsive behavior for the navbar */
#letter-nav a {
   
    display: inline-block; /* Keep items in a horizontal line by default */
    padding: 10px 15px;
    text-decoration: none;
    color: white; /* Make sure text is readable */
}

